<%= render "shared/header" %>
<div class="search-box row">
    <div class='col-md-6 '>
    <% if @user == '2' %>
        <button id="myBtn" class='btn btn-primary'>Create new Subject</button>
        <% end %>
    </div>
    <form action="/subjects/search" data-js-subject-form='true' accept-charset='UTF-8' data-remote='true' class="nav-end col-md-4 " method='post'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <input type="text" name="subject[title]" placeholder="Search Subject">
        <input type="submit" value="Search">
    </form>
</div>
<div id='subjects'>
<%= render 'shared/subjects'%>
</div>
<% content_for :dialog_body do %>
    <% content_for :dialog_title do %>New Subject<% end %>
    <form action="/subjects" method="post">
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <label>Title</label>
        <input type="text" name="subject[title]">
        <label>Section</label>
        <input type="text" name="subject[section]">
        <input type="submit" value="Create" class='btn btn-success'>
    </form>
<% end %>
<%= render "shared/dialog" %>
