<%= render "shared/header"%>
<div class="subject-head">
    <p><h2><%= @subject.title %></h2>  <%= @subject.section%></p>
    <div class="subject-nav">
        <a href="/subjects/<%= @subject.id %>/students">Students</a>
    </div>
</div>
<div class="subject-box">
    <form action="" method="post">
        <label>My name: <textarea name="comment[content]" placeholder='Announce Something...'></textarea></label>
        <input type="submit" value="Announce">
    </form>
    <button id="myBtn" class='btn btn-primary'>Create Post</button>
    <div class="topic-box">
        <a href="">
            <div class="topic-item">
                <p>test 2</p>
            </div>
        </a>
        <a href="">
            <div class="topic-item">
                <p>test 1</p>
            </div>
        </a>
        <a href="">
            <div class="topic-item">
                <p>with due 1</p>
            </div>
        </a>
        <a href="/subjects/<%= @subject.id %>/post/1">
            <div class="topic-item">
                <p>lesson 1</p>
            </div>
        </a>
    </div>
</div>
<% content_for :dialog_body do %>
    <div class="material-box">
    <form action="/material/create" method="post">
        <label>Title: <input type="text" name="material[title]"></label>
        <label>Due Date:<input type="date" name="material[due_date]"></label>
        <label class='d-block'>Instructions:</label>
        <textarea name="material[content]"></textarea>
        <input type="submit" value="Create">
    </form>
</div>
<% end %>
<%= render 'shared/dialog'%>
