<%= render "shared/header"%>
    <div class="subject-head container-md card">
        <div class="card-body">
            <p><h2><%= @subject.title %></h2>  <%= @subject.section%></p>
            <a href="/subjects/<%= @subject.id %>/students">Students</a>
            <% if @user.user_type == '2' %>
            <button type="button" class="btn btn-link p-0 mb-1 mx-2 d-inline-block" data-bs-toggle="modal" data-bs-target="#createPost_dialog">Create Post</button>
            <% end %>
        </div>
    </div>
    <div class='container-md'>
        <form action="/subjects/<%= @subject.id %>/comment" method="post" class='needs-validation container-sm' novalidate>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <label><%= @user.full_name %>:</label>
            <input type="hidden" name="comment[content]" id="trix_input_11" autocomplete="off" required/>
            <trix-editor id="comment[content]" input="trix_input_11" class="trix-content form-control" required data-direct-upload-url="http://localhost:3000/rails/active_storage/direct_uploads" data-blob-url-template="http://localhost:3000/rails/active_storage/blobs/redirect/:signed_id/:filename"></trix-editor>
            <input type="submit" value="Post" class='btn btn-success m-2'>
        </form>
        <h3>Bulletin Post</h3>
        <% @comments.each do |c|%>
            <% if c.imageable_type == 'Post' %>
        <div class="border border-right-0 m-2 topic-box ">
            <a href="/subjects/<%= @subject.id %>/post/<%= Post.find(c.imageable_id).id %>" class='d-block'>
                <div class="topic-item">
                    <p><%= User.find(c.user_id).full_name %> Posted: <%= Post.find(c.imageable_id).title %></p>
                </div>
            </a>
        </div>
            <% else %>
        <div class='border border-right-0 m-2'>
            <p><%= User.find(c.user_id).full_name%> (<%= c.created_at.strftime("%I:%M%p %F")%>):</p>
            <%= Comment.find(c.imageable_id).content %>
        </div>
            <% end %>
        <% end %>
    </div>
        <% content_for :dialog_body do %>
            <% content_for :dialog_attr do %> id="createPost_dialog" <% end %>
            <% content_for :dialog_title do %>New Post<% end %>
                <form action="/subjects/<%= @subject.id %>/post" method="post" class='needs-validation container-sm' novalidate>
                    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                    <label>Title: <input type="text" name="topic[title]" class='form-control' required></label>
                    <label>Due Date:<input type="date" name="topic[due_date]" class='form-control'></label>
                    <label class='d-block m-2'>Instruction:</label>
                    <input type="hidden" name="topic[content]" id="trix_input_12" autocomplete="off" required/>
                    <trix-editor id="topic[content]" input="trix_input_12" class="trix-content form-control" required data-direct-upload-url="http://localhost:3000/rails/active_storage/direct_uploads" data-blob-url-template="http://localhost:3000/rails/active_storage/blobs/redirect/:signed_id/:filename"></trix-editor>
                    <div class='modal-footer'>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" value="Create" class='btn btn-success'>
                    </div>
                </form>
        <% end %>
    <%= render 'shared/dialog'%>

   


    